//colors 
$body-bg: #060606;
$text-color: #fffafa;
$link-hover-color: #fff4f4;
$primary:#ffeddc;
$danger: #cc8084;
$dark: #181818;
$card-title-color: #f9f8eb;
$navbar-light-color: #f9f8eb;
$navbar-light-brand-color: #f9f8eb;
$card-height: 450px;
$card-bg: #181818;
$form-label-color: #f9f8eb;
$input-color: #aeada4;
$navbar-light-hover-color: #95948d;
$navbar-light-active-color: #95948d;


.card-img-top {
    width: 100%;
    height: 265px;
};

.card-text {
    color: $text-color
}

.single-movie{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $text-color;
    justify-content: stretch;


    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

}

.big-words {
    font-size: 24px;
    font-weight: bold;
    color: $card-title-color;
   
}

.info{
    margin-bottom: 50px;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.back-button {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.fav-button {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}






@import '~bootstrap/scss/bootstrap.scss';

